  nav {
    background-color: rgba(123, 240, 232, 0.971);
    padding: 25px;
    text-align: center;
  }
  a {
    color: rgba(20, 15, 154, 0.655);
    margin: 100px;
  }
  h1 {
    color: steelblue;
    text-align: center;
 }
  img {
    width: 80%;
    display:block;
    margin: 0 auto;
  }
  p {
    padding: 10px;
    text-align: center;
  }
  footer {
    background-color:rgba(123, 240, 232, 0.971);
    color: rgba(20, 15, 154, 0.655);
  }
  .main-para {
    width: 80%;
     margin:20px auto;
    font-size: 1.2em;
    line-height: 2.0em;
}

