#content {
    max-width: 1600px;
    margin: 0 auto;
    align-self:normal;
}
body {
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
    color:beige;
    background-color:#4BB18E;
}
header {
    color: white;
    font-family: 'Courier New', Courier, 'Lucida Console', monospace;
    background-color: rgba(0, 0, 0,0.1);  
}
nav {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: repeat 1fr 1fr 1fr 1fr;   
}
.pps-logo {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 12.5%;
    left: 10%;
}
.pps-logo:hover {
    height: 10%;
    border-radius: 100%;
    border:2.5px solid white;
}
.services-button {
    display: grid;
    grid-area: 1 / 12 / 2 / 15;
    color: white;
    padding: 30px;
    background-color: rgba(220,195,122,0.9);
    text-align: center;
    margin: 10px;
    text-decoration: none;
    text-shadow: 3px  3px 3px black;
    
}
.testimonials-button {
    display: grid;
    grid-area: 3 / 12 / 4 / 15;
    color: white;
    padding: 30px;
    background-color:rgba(220,195,122,0.9);
    align-content: center;
    margin: 10px;
    font-size: 10;
    text-decoration: none;
    text-shadow: #1a1a20;
    text-shadow: 3px  3px 3px black;
    
}
.home-grid-pps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.h8 {
    position: absolute;
    top: 5%;
    right:38%;
    font-size: 1.5em;
    text-shadow: 3px  3px 3px black;
}
.paragraph1 {
    grid-column: 2/25;
    grid-row: 1/7;
    margin-top: 5%;
    font-size: 1.5em;
    border: 7.5px solid white;
    text-shadow: 3px  3px 3px black;
    background-color: rgba(220,195,122,1) ;

}
.gallery {
    grid-column: 2/25;
    grid-row: 7/15;
    margin-top: 5%;
    width: 100%;
    height: 200px;
    overflow-x: auto;
    white-space: nowrap;
    border:1px solid white;
}
.timer {
    grid-column: 2/25;
    grid-row: 8/9;
    margin-top: 5%;
    font-size: 3em;
    border:1px solid white;
}
.brush {
    position: absolute;
    top: 5%;
    right: 35%;
    z-index: -1;
    width: 480px;
    height: 150px;
}
#pps-hero-img {
    width:100%;
    background-color: rgba(52, 49, 54, 0.1);
    z-index: -1;
}
.cape {
    position: absolute;
    top: 33.5%;
    left: 0;
    width: 100%;
    height: 116.5%;
    background-color: rgba(0, 0, 0,0.1);
  }
#pps-home-title {
    position: absolute;
    top: 110%;
    text-shadow: 2px  6px 6px black;
    font-size: 3.5em;
    width: 100%; 
    text-decoration: wavy;
    background-color: rgba(204,184,178,0.5);
    font-style: italic;
  }
  #pss-intro-paragraph {
    padding: 150px;
    background-color: rgba(220,195,122,0.7) ;
    font-size: 1.5em;
    text-shadow: 3px  3px 3px black;
    font-style: oblique;
  }  
#gallery {
    background-color:rgba(204,184,178,0.5);
    padding: 25px;
    margin: 100px;
}
footer {
    margin-top: 5%;
    background-color: rgba(0, 0, 0,0.4);
}
.fb {
    border: 10px solid white;
    justify-content: space-around;
    padding: 25px;
    margin: 20px 200px 20px 20px;
}
.twitter {
    border: 10px solid white;
    padding: 25px;
    margin: 20px 20px 20px 20px;
}
.ig {
    border:10px solid white;
    padding: 25px;
    margin: 20px 20px 20px 200px;
}
.social {
    display: flex;
    justify-content:  center;
    
}
.contactus {
    font-style: none;
    color: white;
}
nav a:hover {
    background-color: rgba(204,184,178,0.8);
    color: white;
    width: 80%;
    
}
.fb:hover{
    background-color: rgba(204,184,178,0.8);
    color: black;
}
.twitter:hover{
    background-color: rgba(204,184,178,0.8);
    color: black;
}
.ig:hover{
    background-color: rgba(204,184,178,0.8);
    color: black;
}
.site-plan {
    font-style:italic;
    text-decoration: none;
    color:white;
}
.books {
    justify-content: space-around;
    padding: 25px;
    margin: 0px 50px 0px 0px;
}
.lupa {
    padding: 25px;
    margin: 0px 0px 0px 50px;
}


#pps-hero1 {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: rgba(220,195,122,1);
    margin: 25px;

}
#pps-hero-img1{
    grid-area: 2/1/5/3;
    width: 100%;
    padding: 35px;
}
#pps-hero-img2 {
    grid-area:2/13/5/15;
    width:100%;
    padding: 35px;
}
.h81 {
    grid-area: 1/4/6/13;
    font-size: 3em;
    background-color: rgba(75,177,142,0.50);
    padding: 25px;
    text-shadow: 3px  3px 3px black;
}
.nose1 {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(3,1fr);

}
#ps-intro-paragraph11 {
    grid-area:1/2/4/15;
    background-color: rgba(220,195,122,0.5);
    text-shadow: 3px  3px 3px black;
    padding: 25px;
}
.nose2{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(6,1fr);
    color:black;
    text-align: center;
    text-shadow: 3px  3px 3px white;

}
.economics {
    grid-area: 1/2/3/5;
    background-color: #CCB8B2;
    padding: 25px;
}
.economics1 {
    grid-area: 1/6/3/15;
    background-color: rgba(204,184,178,0.75);
    padding-top: 15px;
}
.english {
    grid-area: 3/2/5/5; 
    background-color: #CCB8B2;
    padding-top: 25px;
}
.english1{
    grid-area: 3/6/5/15;
    background-color:rgba(204,184,178,0.75);
    padding-top: 15px;
}
.web-design {
    grid-area: 5/2/7/5;
    background-color: #CCB8B2;
    padding-top: 25px;
}
.web-design1 {
    grid-area: 5/6/7/15;
    background-color:rgba(204,184,178,0.75);

}
